.bg-login {
    background: url("../../assets/bg.png") no-repeat center center/cover;
    height: 100vh;
    position: relative;
}

.input-form {
    min-width: 200px;
    min-height: 40px;
}

.input-form input {
    min-width: 300px;
    min-height: 40px;
    background-color: #b2d6eb;
    border: 1px solid #e3e7e8;
    padding-left: 25px;
    font-size: 16px;
}

.btn-form {
    float: right;
    margin-right: 30px;
    margin-top: 40px;
    width: 123px;
    height: 40px;
    background-color: #8ccbee;
    border-radius: 0;
}

.container-form {
    position: absolute;
    top: 29%;
    left: 34%;
    width: 400px;
    height: 250px;
    background-color: white;
    border: 1px solid black;
}

.title-form {
    position: absolute;
    top: 15%;
    left: 42%;
    font-size: 40px;
    font-weight: 600;
    line-height: 56px;
    padding: 16px 0 32px;
    text-shadow: 1px 0 8px rgb(0 0 0, 40%);
    color: white;
}

.form-control {
    margin: 0 auto;
    border-radius: 0;
}

.subtitle-form {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    height: 40px;
    width: 360px;
    margin-top: 10px;
    margin-left: 20px;
}