.container {
    margin-top: 130px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.card-collumn {
    background-color: #eee;
    border-radius: 2px;
    min-width: 10rem;
    padding: 0px 7px;
    text-align: left;
    margin-right: 20px;
}


.scroll {
    overflow-y: scroll;
    max-height: 55vh;
    -ms-overflow-style: none;
    scrollbar-width: none;

}

.scroll::-webkit-scrollbar {
    display: none;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
}

.card-btn {
    min-width: 12.4rem;
    padding: 0px 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-color: #333333;
    color: black;
}

.card-btn:hover {
    background-color: #888888;
    border-color: #333333;
    color: black;
}

.card-kanban {
    min-width: 12rem;
    height: max-content;
    position: relative;
    background-color: white;
    border-radius: 5px;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.card-kanban-header {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #333333;
    top: 10%;
    left: 6%;
    width: 10.7rem;
}

.card-kanban-delete {
    position: absolute;
    font-size: 12px;
    top: 10%;
    right: 8%;
}

.card-kanban-content {
    padding-top: 12px;
    font-size: 14px;
    font-weight: 400;
    margin-left: -20px;
    min-width: 10rem;
    max-width: 10rem;
    max-height: 40px;
}

.create-input {
    font-size: 14px;
    height: 30px;
}

.create-input:not(:last-child) {
    margin-bottom: 5px;
}

.hide-create {
    float: right;
    padding-bottom: -5px;
    cursor: pointer;
}

.btn-add {
    width: 70px;
    height: 25px;
    padding: 2.5px;
    font-size: 12px;
    margin-bottom: 10px;
    background-color: white;
    color: black;
    border-color: black;
}

.btn-add:hover {
    background-color: #888888;
    color: black;
    border-color: black;
}

.btn-delete {
    background-color: rgb(238, 95, 95);
    color: black;
    float: right;
}

.btn-cancle {
    background-color: rgb(34, 165, 121);
    color: black;
    float: right;
    margin-right: 5px;
}

.btn-add-collumn {
    background-color: rgb(34, 165, 121);
    color: black;
    float: right;
    min-width: 80px;
}

.btn-cancle-add {
    background-color: rgb(238, 95, 95);
    color: black;
    float: right;
    margin-right: 10px;
}

.collumn {
    margin-bottom: 30px;
}

.addCollumn {
    background-color: #78c2ad;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0px 18.5px;
    font-size: 35px;
    font-weight: 600;
    right: 3%;
    top: 85%;
    position: fixed;
    color: black;
}

.row {
    flex-wrap: nowrap;

}