.check-list{
    font-size: 14px;
}

.border.card{
    border-bottom-width: 3px !important;
}

.status.card-text{
    text-align: right;
}

.form-size{
    width: 300px;
}

.checklist-delete{
    position: absolute;
    font-size: 12px;
    top: 20%;
    right: 5%;
}

